@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
body {
    background-color: #3d535f;
}

.calculator {
    width: 400px;
    height: 630px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    margin: auto;
    margin-top: 90px;
    box-shadow: 0 0 50px rgb(36, 159, 200);
    font-family: Arial, sans-serif;
    background-color: #ccc;
}

.calc {
    text-align: center;
    margin-top: -15px;
    color: #3d535f;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 5px rgb(36, 159, 200);
}

.display {
    width: 93%;
    height: 80px;
    font-size: 24px;
    text-align: center;
    margin-left: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 10px #3d535f;
}

table {
    margin-top: 20px;
    width: 100%;
}

button {
    color: #3d535f;
    ;
    width: 70px;
    height: 70px;
    font-size: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 0 10px #3d535f;
}

button:hover {
    background-color: #3d535f;
    color: #eee;
    box-shadow: 0 0 10px rgb(36, 159, 200);
}

.equal {
    width: 95%;
}

.back {
    /* margin: 50px; */
}